.oval {
  width: 90%;
  height: 90%;
  left: 50%;
  transform: translate(-120%, -40%);
  border-radius: 50%;
  background-color: #FBF7CF;
  z-index: 1;
  clip-path: circle(80% at 90% 80%);
  margin-top: 15rem;
}

.text {
  transform: translate(6%, -40%); /* Center the text horizontally */
  font-size: 30px;
  z-index: 2;
  color: black;
  clip-path: inset(0);
  position:relative;
}
